<h2>Sign up</h2>

<!--diveseのフォームヘルパーの変更-->
  <!--form_forをform_withに変更-->
    <!--form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| -->
  <!--nameのfieldに autofocus: true を追加-->
  <!--NEXT ログイン画面の編集 Go_to app/views/devise/sessions/new.html.erb-->
<%= form_with model: @user, url: user_registration_path do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
  
  
  <!--ユーザ登録の際に name も登録する-->
    <!--現状では name を入力しても、データとして保存することはできない状態-->
    <!--NEXT controller の編集-->
      <!--deviseのストロングパラメータを編集する場合、ApplicationController に記述-->
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
